<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Tutores</strong></ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="encabezado"><h1></h1></ion-title>
 <ion-text> <p id="descripcion">Encuentra el tutor que estabas necesitando!</p> <br></ion-text>
 <br><br>
 <ion-searchbar showCancelButton="focus" placeholder="search..."></ion-searchbar>

 <h3 class="enca" class="ion-text-center" >Tutores Recomendados</h3>

 <ion-slides [options]="option" class="ion-margin-top">
  <ion-slide *ngFor="let card of cards; let i = index;" class="slide">
    <ion-card  class="cards" style="height: 100%;">
      <ion-card-header>
        <ion-img *ngIf="tutor != undefined" src="{{tutor[i].foto}}" alt="" class="imagen" ></ion-img> 
        <ion-card-title class="materias" class="ion-text-center" *ngIf="tutor != undefined" >{{tutor[i].nombre}} {{tutor[i].apellido}}</ion-card-title>
       <!--<ion-card-subtitle class="ion-text-center" *ngIf="tutor != undefined">{{tutor[i].nombre}}</ion-card-subtitle>-->
      </ion-card-header >
      <ion-card-content *ngIf="tutor != undefined">
        {{tutor[i].descripcion}} <br><br>
        <b>Materia en la que me especializo: {{tutor[i].nombreM}}</b>
      </ion-card-content>
      <div id= "reservar">
        <ion-button shape="round" color="salmon"><a [routerLink]="['/tabs/tab3']"><ion-text id="black">Reservar</ion-text></a> </ion-button>
        </div>
      
    </ion-card>
  </ion-slide>


</ion-slides>
  
  <br>
  <br>

<!--<ion-body>
  <div id= "reservar">
  <ion-button shape="round" color="salmon"><a [routerLink]="['/reserva']"><ion-text id="black">Reservar</ion-text></a> </ion-button>
  </div>
</ion-body>-->

<ion-footer>
  <p><strong>Planes</strong></p> 

<nav>

  <ion-row>
    <ion-col>25$ por: <ion-fab-button color="warning">Gold</ion-fab-button></ion-col>
    <ion-col>18$ por: <ion-fab-button color="tertiary">Pro</ion-fab-button></ion-col>
    <ion-col>12$ por: <ion-fab-button color="secondary">Básico</ion-fab-button></ion-col>
  </ion-row>

</nav>
  <nav>

  </nav>
</ion-footer>

</ion-content>
