
<ion-header id="nav" class="new-background-color" [translucent]="true">

  <ion-toolbar>
    <h4 class="ion-text-center">Menú Principal</h4>

    <br>

<ion-searchbar showCancelButton="focus"></ion-searchbar>
</ion-toolbar>
<br>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-item-divider class="enca" color="primary">
  <ion-label>
    <h1>Materias</h1>
  </ion-label>
</ion-item-divider>




  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide *ngFor="let card of cards; let i = index;" class="slide">
      <ion-card  class="cards" style="height: 100%;">
        <ion-img *ngIf="materias != undefined" src="{{materias[i].imagen}}" alt="" class="imagen" ></ion-img>
      <ion-card-content>
        <ion-title class="materias" class="ion-text-center" *ngIf="materias != undefined" >{{materias[i].nombre}}</ion-title>
      </ion-card-content>
      </ion-card>
    </ion-slide>


  </ion-slides>

  <br> 
  <br> <br>
  <ion-text class="ion-text-center"><p>¿No encontras la materia que estabas buscando?</p> <p color="success"><a href="">Contanos cual!</a></p></ion-text>
 <br>




</ion-content>
