<ion-header [translucent]="true">

  <ion-toolbar>
    <h3>Página Principal</h3>

<ion-searchbar showCancelButton="focus"></ion-searchbar>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <h2 class="enca">Materias</h2>

  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="assets/img/derecho.jpg" alt="">
        <ion-content ><ion-title class="materias">Derecho</ion-title></ion-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="assets/img/matematicas.jpg" alt="">
      <ion-content><ion-title class="materias">Análisis Matemático I y II</ion-title></ion-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
      <img src="assets/img/administracion.jpeg" alt="">
      <ion-content><ion-title class="materias">Administración I y II</ion-title></ion-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/img/contabilidad.jpg" alt="">
        <ion-content><ion-title class="materias">Contabilidad I y II</ion-title></ion-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/img/programacion.jpg" alt="">
        <ion-content><ion-title class="materias">Web Development</ion-title></ion-content>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <h2>Tutores Recomendados</h2>

    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide>
        <ion-card>
          <img src="assets/img/1.jpeg" alt="">
          <ion-content ><ion-title  class="materias">Pedro Siles</ion-title></ion-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
        <img src="assets/img/2.jpeg" alt="">
        <ion-content ><ion-title class="materias">Ana Paz</ion-title></ion-content>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
        <img src="assets/img/3.jpeg" alt="">
        <ion-content ><ion-title class="materias">Juan Ramirez</ion-title></ion-content>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
          <img src="assets/img/4.jpeg" alt="">
          <ion-content><ion-title class="materias">Marco Solar</ion-title></ion-content>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
          <img src="assets/img/5.jpeg" alt="">
          <ion-content><ion-title class="materias">Rodrigo Poppe</ion-title></ion-content>
        </ion-card>
      </ion-slide>
  
    </ion-slides>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
