<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><strong>
    Reservas
    </strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reserva</ion-title>
    </ion-toolbar>
  </ion-header>
   <ion-content>
    <ion-card>
      <ion-item>
        <ion-label position="fixed">Estudiante</ion-label> 
        <ion-input ></ion-input> <!--TIENE QUE VENIR DADO POR LA BDD-->
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Profesor</ion-label> 
        <ion-input ></ion-input> <!--TIENE QUE VENIR DADO POR LA BDD-->
      </ion-item>
      <ion-item>
          <ion-label position="fixed">Fecha</ion-label>
            <ion-datetime displayFormat="MM DD YY" placeholder="MM DD YY"></ion-datetime>
      </ion-item>
      <ion-item>
            <ion-label>Hora</ion-label>
            <ion-datetime displayFormat="HH:mm" placeholder="HH:mm"></ion-datetime>
      </ion-item>
      

      <ion-item>
        <ion-label position="fixed">Email</ion-label>
        <ion-input placeholder="johndoe@email.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Plan</ion-label> 
        <ion-select class="custom-options" interface="action-sheet" >
          <ion-select-option value="GOLD">GOLD</ion-select-option>
          <ion-select-option value="Pro">Pro</ion-select-option>
          <ion-select-option value="Básico">Básico</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Método de pago</ion-label><!--TIENE QUE VENIR DADO POR LA BDD-->
        <ion-select class="custom-options" interface="action-sheet">
          <ion-select-option value="Universidad Austral">Mercado Pago</ion-select-option>
          <ion-select-option value="UBA">Paypal</ion-select-option>
          <ion-select-option value="UBA">Tarjeta</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <!--PUEDO USAR EVENT DE JS Y QUE SALGA UNA VENTANA PARA CONFIRMAR LA RESERVA-->

    <ion-button color="success" type="submit" expand="full"> <p>Continuar</p></ion-button><br><br>

  
  </ion-content>