<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> 
      Easy Learning 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
     <ion-title size="large" class="ion-text-center">Easy Learning</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="secondary" class="ion-text-center" color="black">
    <h4>¿Con qué tipo de cuenta quieres ingresar?</h4><br/>
  </ion-text>
<div class="helado" class="ion-text-center">
  <ion-button [routerLink]="['/signin']" size="large" > Estudiante </ion-button>
</div>
  <p class="ion-text-center">o...</p>
<div class="helado" class="ion-text-center">
  <ion-button [routerLink]="['/signin']" size="large" color="danger" >Tutor</ion-button>
</div>
<br/> <br/>
  <ion-text class="ion-text-center" color="black">
    <p>Si luego quieres cambiar tu cuenta, lo puedes hacer desde configuraciones del perfil.</p>
  </ion-text>
<br/> 
  <h4 class="ion-text-center">¿No tienes una cuenta?</h4>
  <ion-text color="success">
    <a [routerLink]="['/signup']" color="success"> <p class="ion-text-center" color="success">Sing Up</p></a> <!--FALTA LINK DEL ANCHOR--> 
  </ion-text>
</ion-content>


