@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


ion-header{
    margin-bottom: 2.5rem;
}

ion-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

ion-text, ion-button, h4, p {
    font-family: 'Asap', sans-serif;
}

a {
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    color: lightgreen;
}

